<div class="main-container u-layout-constrained">
  <h1 tabindex="-1">Frequently Asked Questions</h1>
  <u-panel-accordion class="u-my-xs-2">
    <u-panel>
      <u-panel-header panelTitle="What are your requirements for adopting an animal?"></u-panel-header>
      <ul>
        <li>Adopter must be at least 21 years of age and have identification.</li>
        <li>Spaying/neutering of cats and dogs adopted through our organization is required.</li>
      </ul>
    </u-panel>
  </u-panel-accordion>
  <u-panel-accordion class="u-my-xs-2">
    <u-panel>
      <u-panel-header panelTitle="What are your adoption fees?"></u-panel-header>
      <table class="u-table">
        <thead>
        <tr>
          <th>Dogs</th>
          <th>Age</th>
          <th class="currency">Adoption Fee</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Puppies</th>
          <td>Less than 4 months</td>
          <td class="currency">$400</td>
        </tr>
        <tr>
          <th>Puppies</th>
          <td>4 months to 1 year</td>
          <td class="currency">$350</td>
        </tr>
        <tr>
          <th>Adults</th>
          <td>1 to 6 years</td>
          <td class="currency">$300</td>
        </tr>
        <tr>
          <th>Seniors</th>
          <td>7 years and older</td>
          <td class="currency">$250</td>
        </tr>
        </tbody>
      </table>
      <hr>
      <table class="u-table">
        <thead>
        <tr>
          <th>Cats</th>
          <th>Age</th>
          <th class="currency">Adoption Fee</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Cats</th>
          <td>Less than 5 months</td>
          <td class="currency">$100</td>
        </tr>
        <tr>
          <th>Cats</th>
          <td>Over 5 months</td>
          <td class="currency">$60</td>
        </tr>
        </tbody>
      </table>
    </u-panel>
  </u-panel-accordion>
  <u-panel-accordion class="u-my-xs-2">
    <u-panel>
      <u-panel-header panelTitle="How long will the adoption process take?"></u-panel-header>
      <ul>
        <li>The entire adoption process varies but the goal is for the adoption to be completed within 2 to 3 days.</li>
        <li>Due to limited space and insurance reasons, only adopters accompanied by our personnel can be brought back to view the animals.</li>
      </ul>
    </u-panel>
  </u-panel-accordion>
  <u-panel-accordion class="u-my-xs-2">
    <u-panel>
      <u-panel-header panelTitle="What should I bring when I come to adopt a pet?"></u-panel-header>
      <ul>
        <li>All members of the household must be present to adopt.</li>
        <li>If you are planning on adopting a dog, you must bring any dogs that now live in the household for a later visit so we can introduce them to make sure they are compatible.</li>
        <li>It’s a good idea to bring veterinary records of current pets.</li>
      </ul>
    </u-panel>
  </u-panel-accordion>
</div>

