<footer class="footer" aria-labelledby="footer-title">
  <h2 id="footer-title" class="u-typography--srOnly">Footer navigation</h2>
  <div class="footer__nav-wrapper u-grid-container u-layout-constrained">
    <div class="donate u-grid-item u-xs-12 u-sm-3 u-ml-sm-0">
      <h3>Donate</h3>
      <p>Your donations help us to provide care to thousands of animals each year. We couldn’t do it without you!</p>
      <a routerLink="" class="donate-link u-my-xs-2">Donate Now!</a>
    </div>
    <nav class="footer__nav u-grid-item u-xs-12 u-sm-3">
      <ul class="footer__nav-list u-grid-container">
        <li class="u-grid-item u-xs-12 u-md-6"><a class="footer__nav-link" routerLink="">Volunteer</a></li>
        <li class="u-grid-item u-xs-12 u-md-6"><a class="footer__nav-link" routerLink="">Events</a></li>
        <li class="u-grid-item u-xs-12 u-md-6"><a class="footer__nav-link" routerLink="">News</a></li>
        <li class="u-grid-item u-xs-12 u-md-6"><a class="footer__nav-link" routerLink="">Adopt</a></li>
        <li class="u-grid-item u-xs-12 u-md-6"><a class="footer__nav-link" routerLink="faq">FAQs</a></li>
        <li class="u-grid-item u-xs-12 u-md-6"><a class="footer__nav-link" routerLink="contact">Contact</a></li>
        <li class="u-grid-item u-xs-12 u-md-6"><a class="footer__nav-link" routerLink="about">About</a></li>
      </ul>
    </nav>
    <div class="hours u-grid-item u-mr-sm-0 u-xs-12 u-sm-3">
      <h4>Hours:</h4>
      <p class="u-mb-xs-0">Monday through Friday</p>
      <p class="u-mb-xs-2">10:00 a.m. to 6:00 p.m.</p>
      <p class="u-mb-xs-0">Saturdays</p>
      <p class="u-mb-xs-2">10:00 a.m. to 4:00 p.m.</p>
      <p class="u-mb-xs-0">Or by appointment:</p>
      <p>1-888-000-0000</p>
    </div>
  </div>
  <small>Copyright &copy;2021 Unifi Pet Project</small>
</footer>
