<div class="main-container u-layout-constrained">
  <h1 tabindex="-1">Contact Us</h1>
  <p>Please fill out the form below and someone will respond to you as soon as possible!</p>
  <u-notification @notificationAnimation id="errorMessage" tabIndex="-1" icon="error" type="error" iconLabel="Error" *ngIf="contactForm.submitted && contactForm.invalid" class="u-mt-xs-4">
    <p><strong>Please correct these errors:</strong></p>
    <ul>
      <li *ngIf="name.invalid"><a href="name" (click)="focusInput($event, 'name')">Please enter a name.</a></li>
      <li *ngIf="message.invalid"><a href="name" (click)="focusInput($event, 'message')">Please enter a message.</a></li>
      <li *ngIf="email.invalid"><a href="name" (click)="focusInput($event, 'email')">Please enter an email.</a></li>
    </ul>
  </u-notification>
  <u-notification @notificationAnimation id="successMessage" tabIndex="-1" icon="success" type="success" iconLabel="Success!" *ngIf="contactForm.submitted && contactForm.valid">
    <p>Thank you for contacting us! Someone will respond as soon as possible.</p>
  </u-notification>
  <div class="u-paper contact-form u-mt-xs-4">
    <form #contactForm="ngForm" class="u-grid-container u-grid-direction--column">
      <div class="u-grid-item">
        <u-form-control [fullWidth]="true">
          <label uLabel for="name">Name*</label>
          <input u-textfield id="name" name="name" #name=ngModel ngModel required>
          <p u-form-error>Please enter your name</p>
        </u-form-control>
      </div>
      <div class="u-grid-item">
        <u-form-control [textarea]="true" [fullWidth]="true">
          <label uLabel for="message">Message*</label>
          <textarea u-textfield id="message" name="message" rows="2" #message=ngModel ngModel required></textarea>
          <p u-form-error>Please let us know what you want to say!</p>
        </u-form-control>
      </div>
      <div class="u-grid-item">
        <u-form-control [fullWidth]="true">
          <label uLabel for="email">Email*</label>
          <input u-textfield id="email" name="email" #email=ngModel ngModel required>
          <p u-form-error>Please enter your email</p>
        </u-form-control>
      </div>
      <button u-button type="submit" variant="contained" color="secondary" class="u-mt-xs-4 u-ml-xs-auto" (click)="submit(contactForm)">Submit</button>
    </form>
  </div>
</div>

