<nav>
  <ul>
    <li *ngFor="let item of navLinks">
      <a [routerLink]="item.route" routerLinkActive="active" #rla="routerLinkActive"
         [attr.aria-current]="rla.isActive ? 'page' : undefined">{{item.title}}</a>
      <ul>
        <li *ngFor="let child of item.children"><a [routerLink]="child.route" routerLinkActive="active" #childRla="routerLinkActive"
               [attr.aria-current]="childRla.isActive ? 'page' : undefined">{{child.title}}</a></li>
      </ul>
    </li>
  </ul>
</nav>
