@import 'shared-variables';

.skip-link {
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  &:focus {
    width: auto;
    height: auto;
    position: static;
    line-height: 1.5;
    margin-left: 1rem;
  }
}
a.logo {
  display: flex;
  align-items: center;
  color: white !important;
  text-decoration: none;
  svg {
    height: 4.75rem;
    width: auto;
    margin: 0 0.75rem;
    fill: currentColor;
  }
}
