@import 'shared-variables';

/* You can add global styles to this file, and also import other style files */
h1 {
  &:focus {
    outline: none;
  }
}

.full-width {
  width: 100%;
}

.u-drawer {
  &.u-paper {
    background-color: $u-theme-secondary;
    padding: 0;
  }
}
