@import 'shared-variables';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

main {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  width: 100%;
}

h1 {
  &:focus {
    outline: none;
  }
}

.full-width {
  width: 100%;
}

.app-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

.u-drawer {
  &.u-paper {
    background-color: $u-theme-secondary;
    padding: 0;
  }
}

.main-container {
  padding: 2rem;
}
