<div class="hero-image">
  <div class="u-layout-constrained hero-image-container">
    <h1 tabindex="-1" class="hero-image-header u-grid-container u-grid-alignitems--center">Your Best Friend is Waiting for You</h1>
  </div>
</div>
<div class="mid-section u-grid-container u-layout-constrained">
  <div class="mid-section--left u-grid-item u-grid-container u-grid-direction--column u-grid-justify--center u-grid-alignitems--center u-xs-12 u-md-6">
    <p class="mid-section--counter u-grid-container u-grid-justify--center">
      <span class="u-grid-item mid-section--counter-number" aria-hidden="true">1</span>
      <span class="u-grid-item mid-section--counter-number" aria-hidden="true">5</span>
      <span class="u-grid-item mid-section--counter-number" aria-hidden="true">6</span>
      <span class="u-grid-item mid-section--counter-number" aria-hidden="true">3</span>
      <span class="u-grid-item mid-section--counter-number" aria-hidden="true">0</span>
      <span class="u-typography--srOnly">15,630</span>
    </p>
    <p class="mid-section--counter-text">Pets have found their fur-ever homes!</p>
  </div>
  <div class="mid-section--right u-grid-item u-xs-12 u-md-6 u-grid-container u-grid-alignitems--center">
    <h2 class="mid-section-heading">Over 500 pets have been adopted this year alone!</h2>
  </div>
</div>
<div class="featured-pets">
  <!-- TODO: Add featured pet cards -->
</div>
