<div class="hero-image">
  <div class="u-layout-constrained hero-image__container">
    <h1 tabindex="-1" class="hero-image__header u-grid-container u-grid-alignitems--center">Your Best Friend is Waiting for You</h1>
  </div>
</div>
<div class="mid-section u-grid-container u-layout-constrained">
  <div class="mid-section--left u-grid-item u-grid-container u-grid-direction--column u-grid-justify--center u-grid-alignitems--center u-xs-12 u-md-6">
    <p class="mid-section__counter u-grid-container u-grid-justify--center">
      <span class="u-grid-item mid-section__counter-number" aria-hidden="true">1</span>
      <span class="u-grid-item mid-section__counter-number" aria-hidden="true">5</span>
      <span class="u-grid-item mid-section__counter-number" aria-hidden="true">6</span>
      <span class="u-grid-item mid-section__counter-number" aria-hidden="true">3</span>
      <span class="u-grid-item mid-section__counter-number" aria-hidden="true">0</span>
      <span class="u-typography--srOnly">15,630</span>
    </p>
    <p class="mid-section__counter-text">Pets have found their fur-ever homes!</p>
  </div>
  <div class="mid-section--right u-grid-item u-xs-12 u-md-6 u-grid-container u-grid-alignitems--center">
    <h2 class="mid-section__heading">Over 500 pets have been adopted this year alone!</h2>
  </div>
</div>
<div class="featured-pets">
  <h2 class="featured-heading">Featured Pets</h2>
  <div class="u-grid-container u-grid-spacing--2 u-px-xs-2 u-layout-constrained u-mx-xs-auto">
    <div class="u-grid-item" *ngFor="let pet of featurePets">
      <div class="u-card">
        <div class="u-card__media">
          <img src="../assets/pets/{{pet.photoFile}}" alt="photo of {{pet.name}} who is a {{pet.breed}}" />
        </div>
        <div class="u-card__header">
          <div class="u-card__header-title">
            <h3 class="u-card__header-title--primary">{{pet.name}}</h3>
            <p class="u-typography--overline">{{pet.breed}}</p>
            <h4 class="u-card__header-title--secondary">{{pet.type}}</h4>
          </div>
        </div>
        <div class="u-card__content u-pt-xs-0">
          <p class="u-mb-xs-0">Age: {{pet.age}}</p>
          <p>{{pet.neutered | titlecase}}</p>
          <p class="u-mt-xs-2">{{pet.description}}</p>
          <a routerLink="/apply"> Adopt {{pet.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
